<div class="card text-bg-light mb-3">
  <div *ngIf="clientes.length > 0">
    <div class="card-header">Clientes</div>
    <div class="card-body">
      <h5 class="card-title">Listado de clientes</h5>
      <table class="table tablefa-border">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Fecha</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.createAt }}</td>
            <td>Editar</td>
            <td>Eliminar</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="clientes.length ==0">
    <p>No hay registros en la base de datos</p>
  </div>
</div>
